.contact {
  max-width: 550px;
  margin: 0 auto;
}

.form {
  margin: 0 -0.5em;
}

.field-label {
  text-align: left;
  padding: 0.5em;
}

.button {
  margin: 0.5em;
  font-size: 1.3em;
  transition: all 0.5s;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--palette1);
}

.field-label, .button {
  font-family: courier;
}

.field-input, .button {
  border: 0;
  display: block;
  padding: 0.75em 1.25em;
  width: 100%;
}

.field-input {
  border-bottom: 5px solid var(--bodyCopy);
  font-size: 1.1em;
  transition: border 0.5s;
}

.field-input:focus {
  border-bottom-color: var(--palette1);
}
