/* Globals */
* { box-sizing: border-box; }
html, body { background: #F0F0F0; height: 100%; color: var(--bodyCopy);}
#root { min-height: 100%; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.color-band {
  width: 100%;
  height: 2em;
}

.color-band .color {
  height: 1em;
  width: 20%;
  transition: height 0.2s;
}

.color-band .color:hover {
  height: 1.77em;
}

.name {
  font-size: 3rem;
  transition: all 0.5s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'courier new';
}

.name .hidden-name {
  width: 0;
  display: inline-block;
  opacity: 0;
  transition: all 0.5s;
}

.name:hover .hidden-name {
  width: 1.4em;
  opacity: 1;
  color: var(--bodyCopy);
}



